# Python Cache
__pycache__/
*.pyc

# Venv
.venv/
venv/

# Git
.git/
.gitignore

# IDE
.idea/
.vscode/

# Daten und Dokumente ### FOR LOCAL DOCKER RUN: -> src/data/
hf-cache/
logs/

# Env-Dateien
.env
*.env