# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
.venv-gmt/

# Data
src/data/index/*
!src/data/index/.gitkeep
!src/data/raw/
!src/data/raw/*
experiments/

# Huggingface Cache
hf-cache/*
!hf-cache/.gitkeep

# Logging
logs/*
!logs/.gitkeep

# Lokale Embedding Modelle
emb_models/*
!emb_models/.gitkeep

# GMT Messungen
gmt/gmt-data/raw-data/*
!gmt/gmt-data/raw-data/.gitkeep
gmt/gmt-data/filtered-data/*
!gmt/gmt-data/filtered-data/*.gz
!gmt/gmt-data/filtered-data/.gitkeep
