# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/
.venv-gmt/
.venv-ragas/

# Data
src/data/index/*
!src/data/index/.gitkeep
!src/data/raw/
!src/data/raw/*
experiments/

# Huggingface Cache
hf-cache/*
!hf-cache/.gitkeep

# Logging
logs/*
!logs/.gitkeep

# Lokale Embedding Modelle
emb_models/*
!emb_models/.gitkeep

# GMT Messungen
eval-gmt/gmt-data/raw-data/*
eval-gmt/gmt-data/processed-data/*
!eval-gmt/gmt-data/processed-data/*.gz

# RAGAS Messungen
eval-ragas/ragas-data/*
!eval-ragas/ragas-data/*.gz

# Misc
src/querries/rag_querries.sh
