# IDE
.idea/
.vscode/

# Python
__pycache__/
*.pyc
.venv/

# Data
data/
experiments/

# Huggingface Cache
hf-cache/*
!hf-cache/.gitkeep

# Logging
logs/*
!logs/.gitkeep

# Lokale Embedding Modelle
emb_models/*
!emb_models/.gitkeep
