services:
  rag-app:
    build:
      context: .
      dockerfile: Dockerfile.gmt
    container_name: rag-app
    docker-run-args:
      - --gpus=all
    environment:
      DATA_DIR: /src/data/raw
      INDEX_DIR: /src/data/index
      OLLAMA_HOST: "http://ollama:11434"
      OLLAMA_MODEL: llama3:8b
      LOG_DIR: /logs
      EMBEDDING_MODEL_DIR: /emb_models
      HF_HOME: /root/.cache/huggingface
      ANONYMIZED_TELEMETRY: "False"
    ports:
      - "8000:8000"
    depends_on:
      - ollama

  ollama:
    container_name: ollama
    image: ollama/ollama:latest
    docker-run-args:
      - --gpus=all
    ports:
      - "11434:11434"
    environment:
      OLLAMA_MODEL: llama3:8b
    restart: unless-stopped
