services:
  rag-app:
    build:
      context: .
      dockerfile: Dockerfile.gmt
    container_name: rag-app
    environment:
      HF_HOME: "/root/.cache/huggingface"
      ANONYMIZED_TELEMETRY: "False"
      RAG_PRINT_RESPONSES: "__GMT_VAR_RAG_PRINT_RESPONSES__"
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    docker-run-args:
      - --gpus=all

  ollama:
    container_name: ollama
    image: ollama/ollama@sha256:d4188c1dfa870386a14e299976aed96daeb83876b69e1a852c9d09ea76463b9f
    docker-run-args:
      - -v ollama:/root/.ollama:ro
      - --gpus=all
    ports:
      - "11434:11434"
    environment:
      OLLAMA_MODEL: "llama3:latest"
    restart: unless-stopped
