services:
  rag-app:
    build:
      context: .
      dockerfile: Dockerfile.gmt
    container_name: rag-app
    environment:
      CHUNKING_STRATEGY: __GMT_VAR_CHUNKING_STRATEGY__
      CHUNK_SIZE: __GMT_VAR_CHUNK_SIZE__
      CHUNK_OVERLAP: __GMT_VAR_CHUNK_OVERLAP__
      NORMALIZE_EMBEDDINGS: __GMT_VAR_NORMALIZE_EMBEDDINGS__
      HNSW_EF_CONSTRUCTION: __GMT_VAR_HNSW_EF_CONSTRUCTION__
      HNSW_EF_SEARCH: __GMT_VAR_HNSW_EF_SEARCH__
      HNSW_MAX_NEIGHBORS: __GMT_VAR_HNSW_MAX_NEIGHBORS__
      TOP_K: __GMT_VAR_TOP_K__
      HF_HOME: "/root/.cache/huggingface"
      ANONYMIZED_TELEMETRY: "False"
    ports:
      - "8000:8000"
    depends_on:
      - ollama
    docker-run-args:
      - --gpus=all

  ollama:
    container_name: ollama
    image: ollama/ollama@sha256:d4188c1dfa870386a14e299976aed96daeb83876b69e1a852c9d09ea76463b9f
    docker-run-args:
      - -v ollama:/root/.ollama:ro
      - --gpus=all
    ports:
      - "11434:11434"
    environment:
      OLLAMA_MODEL: "llama3:8b"
    restart: unless-stopped
